h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif ;
    text-align: center;
    color: beige
    
}

p{
    font-family: Helvetica, sans-serif;
    text-align: left;
    color: beige
}

img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1.2s ease;
}
img:hover{

    transform: scale(1.05);
    
}
body{
    background: linear-gradient(135deg, #61bde5, #3d27e6);
    background-size: cover;
    min-height:100vh;
    margin: 0;
    overflow: auto;
}

.container{
    width: 100%;
    font-size: 16px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 0 20px; 
    border: 4px dashed;
    border-color: beige;
    display: flex;
    flex-direction: column

}

.container_small{
    width: 100%;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    display: flex;
    gap:20px;
    background: linear-gradient(135deg, #000000, #4438a1);
    border-radius: 15px;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
    color: whitesmoke;
}

.container_small img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
} 
.container_small img:hover{

    transform: scale(1.2);
    
}




.dropdown button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border: none;
    background-color: hsl(266, 77%, 41%);
    color: beige;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.dropdown .content.show {
    display: block;
}

.dropdown a {
    display: block;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    text-emphasis: none;
}

.dropdown .content {
    display: none;
    background-color: hsla(0, 0%, 60%, 0.8);
    position: absolute;
    min-width: 80px;
    box-shadow: 2px 2px 5px hsla(0, 0%,0%, 0.8);
    top: 68px;
    right: 10px;
}

.dropdown {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}


.dropdown a:hover {
background-color: hsl(0, 0%, 80%); 
}