h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif ;
    text-align: center;
    color: beige
    
}

p{
    font-family: Helvetica, sans-serif;
    text-align: left;
    color: beige
}

img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 1.2s ease;
}
img:hover{

    transform: scale(1.05);
    
}
body{
    background: linear-gradient(135deg, #61bde5, #3d27e6);
    background-size: 200% 200%;
     
    margin: 0;
}

.container{
    font-size: 16px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 0 20px; 
    border: 4px dashed;
    border-color: beige;
    display: flex;
    

}

.container_small{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    display: flex;
    gap:20px;
    background: linear-gradient(135deg, #000000, #4438a1);
    border-radius: 15px;
}

.underline {
    text-decoration: underline;
    font: bold;
    color: whitesmoke;
}

.container_small img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
} 
.container_small img:hover{

    transform: scale(1.2);
    
}